@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #adadad;
	background-color:#466ca0;
	
}

h1{
	text-transform: uppercase;
}
h1 strong{
	font-weight: 900;
}
h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
	color:#383838;
	
}
h3{
font-size: 28px;
font-weight: 900;
color:#cecece;

}
h4{
	text-transform: uppercase;

}
h5{
	
	font-weight: 700;
	line-height: 20px;
	color:#383838;
}

h6{
	
	font-weight: 700;
	line-height: 20px;
	color:#383838;
}
p{
	font-family: 'Verdana', sans-serif;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Verdana', sans-serif;
	color: #ffffff;
}
a{ color: #ffcc33;}
a:hover,
a:focus{
	text-decoration: none;
	color: #ffcc33;
}

.section-title hr{
	border-color: #ffcc33;
	border-width: 4px;
	width: 60px;
	float: center;
	clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */

.on {
	background-color: #6382A5 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffcc33 !important;
	background-color: transparent;
	font-weight: 700;
}

.navbar-toggle {
	border-radius: 0;
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #ffcc33;
	border-color: #ffcc33;
	}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}
/* Home Style */

/*Social//////km*/

.social2{
	
	position:fixed;
	right:0;
	top:300px;
	z-index: 2000;
	
}

.social2 ul{
	list-style: none;
	
}

.social2 ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration:none;
	border-radius:5px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	float:right;
}

.social2 ul li .icon-facebook2{background:#3b5998;}
.social2 ul li .icon-twitter{background:#00abf0;}
.social2 ul li .icon-google-plus{background:#d95232;}
.social2 ul li .icon-mail{background:#ae181f;}
.social2 ul li .icon-printer{background:#666666;}

.social2 ul li a:hover{
	padding:10px 30px;
	background:#000;
	
}

/*///////////////////*/


/* About Section */
#tf-about{
	/*padding: 80px 0;
	background: url(../img/01.jpg);
	background-size: 100%;*/
	background: url(../img/01.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;


}
#img-responsive {
    width:80%;
    max-width:250px;
}
/*contenedor formulario e imagen*/
#tf-cont{
	
	margin-top:38px;
	border-radius: 10px;

}

/*imagen de titulo*/
#tf-img{
	
	margin-top:0px;
}

.box{
	
	border-radius: 15px;
}

.img-responsive{
	border-radius: 10px;
}

/*////////////////////////////////////////*/


#tf-home{
	background: url(../img/01.jpg);
	background-size: 100%;
	/*background-position: center;*/
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;*/
	color: #cfcfcf;
}



#tf-home.row img-responsive"{

	padding-left: 50px;
}
#tf-home .overlay{
	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.66) 0%, rgba(0,0,0,0.55) 5%, rgba(0,0,0,0.4) 15%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(0%,rgba(0,0,0,0.73)), color-stop(0%,rgba(0,0,0,0.66)), color-stop(5%,rgba(0,0,0,0.55)), color-stop(15%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.55) 5%,rgba(0,0,0,0.4) 15%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.55) 5%,rgba(0,0,0,0.4) 15%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.55) 5%,rgba(0,0,0,0.4) 15%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.55) 5%,rgba(0,0,0,0.4) 15%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: 750px;
	background-attachment: fixed;
}
#tf-home p.lead{
	color: #e3e3e3;
}


.content-fluid {
	position: relative;
	/*padding: 0% 0% 0%;*/
	left: 170px;
	top:300px;
}
/*/////////////////////////////////////////////// kmm1 */

.color{
	color: #ffcc33; /*#fcac45; */
	position: absolute ; /*abs*/

top: 39px;/*15*/

right: 15px;/*15*/

width: 100%;/*15*/
}





}




/*////////////////////////////////////////////*/


a.fa.fa-angle-down {
	position:relative;
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 20%;
	font-size: 24px;
	margin-top: 480px;
	transition: all 0.5s;
}
a.fa.fa-angle-down:hover{
	background: #fcac45;
	color: #ffffff;
	border: 2px solid #fcac45;
}
/*/////////////////ABOUT//////////////////////////*/
ul.about-list{ margin: 30px 0 0 ;}
ul.about-list li{
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Verdana', sans-serif;
}
ul.about-list li span{ 
	margin-right: 10px;
}

/* Team Section */

.section-title.center{
	padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
	font-weight: 300;
}
.section-title.center .line{
	border-top: 4px solid #ffcc33;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}



.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}

#tf-contact{
	padding: 80px 0;
}

label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


button.btn.tf-btn.btn-default {
	float: right;
	background: #ffcc33;
	border: 0;
	border-radius: 10px;
	padding: 10px 40px;
	color: #878787;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}

#footer1{

	background: #3a3939;
	
	/*padding: 30px 0 15px 0;*/
	padding-bottom: 0px;
	border-radius: 10px;
}

/* Footer */
nav#footer{
	background: #3a3939;
	
	/*padding: 30px 0 15px 0;*/
	padding-bottom: 0px;
	border-radius: 10px;
	height: 200px;
}
nav#footer .fnav{ vertical-align: middle;
padding-bottom: 0px;

}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}


nav#footer1{
	background: #3a3939;
	
	/*padding: 30px 0 15px 0;*/
	padding-bottom: 0px;
	border-radius: 10px;
}
nav#footer1 .fnav{ vertical-align: middle;
padding-bottom: 0px;

}
ul.footer1-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer1 p{
	font-size: 12px;
	margin-top: 10px;
}



#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover{
	background: #ffcc33;
	border-color: #ffcc33;
	color: #ffffff;
	 }